{% extends 'base.html' %} {% block header %} {% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/task.css') }}"> {% endblock %} {% endblock %} {% block content %}
<section class="content-wrapper">
  <div class="content-wrapper__header">
    <h1>Tasks</h1>
    <a href="{{ url_for('task.create') }}">Create New Task</a>
  </div>

  <ul class="task-list">
    {% for task in tasks %}
    <li class="task-card task_wrapper-{{task.id}}" hx-trigger="click" hx-get="/load_task_details/{{ task.id }}" hx-target=".drawer_content" hx-swap="innerHTML">
      <p class="{% if task.is_completed == 1 %}completed{% endif %}" onclick="openDrawer()">
        {{ task.title }}
      </p>
      <div class="task-buttons">
        <div class="completed_wrapper-{{task.id}}">
          {% if task.is_completed == 1 %}
          <button hx-post="/mark_as_incomplete/{{task.id}}" hx-trigger="click" hx-target=".task_wrapper-{{task.id}}" hx-swap="outerHTML">
              Mark as incomplete
            </button> {% else %}
          <button hx-post="/mark_as_completed/{{task.id}}" hx-trigger="click" hx-target=".task_wrapper-{{task.id}}" hx-swap="outerHTML">
              Mark as complete
            </button> {% endif %}
        </div>
        <button hx-post="/delete_task/{{task.id}}" hx-trigger="click" hx-confirm="Are you sure?" hx-target=".task_wrapper-{{task.id}}" hx-swap="outerHTML">Delete</button>
      </div>
    </li>
    {% endfor %}
    <div class="paginated-tasks">
      <button hx-trigger="click" hx-post="/load_more_tasks/1" hx-target=".paginated-tasks" hx-swap="outerHTML">
        Load More
      </button>
      <p>{{ current }}/{{ count }}</p>
    </div>
  </ul>
</section>
<script>
  function openDrawer() {
    drawer.classList.add("open");
  }
</script>
{% endblock %}