.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: 150px;
  margin-top: 10px;
  gap: 8px;
  border: 2px solid black;
  padding: 12px;
  >h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

.success_alert {
  border: 2px solid green;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  >h3 {
    color: green;
    font-size: 18px;
  }
}