.content-wrapper {
  width: 500px;
  border: 2px solid black;
  margin-left: 150px;
  margin-top: 15px;
  padding: 12px;
  .content-wrapper__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    font-family: Helevetica, sans-serif;
    font-size: 24px;
    .content-wrapper__header-text {
      display: flex;
      flex-direction: column;
      >p {
        font-size: 16px;
        font-weight: 400;
      }
    }
    >a {
      font-size: 18px;
      color: blue;
    }
  }
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .task-card {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 12px;
  }
  .task-buttons {
    display: flex;
    gap: 4px;
  }
}

.completed {
  text-decoration: line-through;
}