{% extends 'base.html' %} {% block header %} {% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/task.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}"> {% endblock %} {% endblock %} {% block content %}
<section class="content-wrapper">
  <div class="content-wrapper__header">
    <div class="content-wrapper__header-text">
      <h1>{{stream.title}}</h1>
      <p>{{stream.description}}</p>
    </div>
  </div>

  <ul class="task-list">
    <button hx-trigger="click" hx-target=".task-list" hx-get="/render_add_task_to_stream_view/{{stream.stream_id}}" hx-swap="innerHTML">Add Task To Stream</button> {% for task in tasks %}
    <li class="task-card task_wrapper-{{task.id}}">
      <p hx-trigger="click" hx-get="/load_task_details/{{ task.id }}" hx-target=".drawer_content" hx-swap="innerHTML" onclick="openDrawer()">
        {{ task.title }}
      </p>
      <div class="task-buttons">
        <div class="completed_wrapper-{{task.id}}">
          {% if task.is_completed == 1 %}
          <button hx-post="/mark_as_incomplete/{{task.id}}" hx-trigger="click" hx-target=".completed_wrapper-{{task.id}}" hx-swap="outerHTML">
          Mark as incomplete
        </button> {% else %}
          <button hx-post="/mark_as_completed/{{task.id}}" hx-trigger="click" hx-target=".completed_wrapper-{{task.id}}" hx-swap="outerHTML">
          Mark as complete
        </button> {% endif %}
        </div>
        <button hx-post="/delete_task/{{task.id}}" hx-trigger="click" hx-confirm="Are you sure?" hx-target=".task_wrapper-{{task.id}}" hx-swap="outerHTML">Delete</button>
      </div>
    </li>
    {% endfor %}
  </ul>
  <script>
    function openDrawer() {
      drawer.classList.add("open");
    }
  </script>
</section>
{% endblock %}