{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Stream{% endblock %}</h1>
{% endblock %} {% block content %}
<section>
  Stream Details {% for task in tasks %}
  <li class="task_wrapper-{{task.id}}">
    <p hx-trigger="click" hx-target=".task_details_wrapper" hx-swap="innerHTML" hx-post="/load_task_details/{{task.id}}">
      {{ task.title }}
    </p>
    <div class="completed_wrapper-{{task.id}}">
      {% if task.is_completed == 1 %}
      <button hx-post="/mark_as_incomplete/{{task.id}}" hx-trigger="click" hx-target=".completed_wrapper-{{task.id}}" hx-swap="outerHTML">
        Mark as incomplete
      </button> {% else %}
      <button hx-post="/mark_as_completed/{{task.id}}" hx-trigger="click" hx-target=".completed_wrapper-{{task.id}}" hx-swap="outerHTML">
        Mark as complete
      </button> {% endif %}
    </div>
    <button hx-post="/delete_task/{{task.id}}" hx-trigger="click" hx-confirm="Are you sure?" hx-target=".task_wrapper-{{task.id}}" hx-swap="outerHTML">Delete</button>
  </li>
  {% endfor %}
</section>
{% endblock %}